
body{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslateblue;
    background-image: url("backgroundrs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

form{
    width: 50%;
    border: none;
}

.filterSection{
    display: flex;
    flex-wrap: wrap;
}

.filters{
    display: flex;
}

.searchInput {
    margin-left: 40px;
}

.searchBar {
    width: 250px;
}


fieldset {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box; 
    background: rgba(255,255,255,0.5);
    color: darkslateblue;
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    width: 195px;
    background: white;
    border: 1px solid darkslateblue;
    outline: white;
    padding: 3px;
    margin-top: 2px;
}

input[type="date"] {
    font-family: Arial, Helvetica, sans-serif;
    width: 195px;
    background: white;
    border: 1px solid darkslateblue;
    outline: white;
    padding: 3px;
    margin-top: 2px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: 1px solid darkslateblue;
    outline: white;
    padding: 3px;
    margin-top: 2px;
}


.box {
    position: relative;
    top: 50%;
    margin-top: 4px;
}
  
.box select {
    background-color: white;
    color: darkslateblue;
    padding: 5px;
    width: 205px;
    border: none;
    font-size: 20px;
    outline: none;
}
  
.box:before {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: lightgray;
    background-color: lightgray;
    pointer-events: none;
}
  
.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
  
.box select option {
    padding: 30px;
    background-color: darkslateblue;
}

input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: 1px solid darkslateblue;
    background-color: lightgray;
    color: darkslateblue;
    padding: 10px;
    margin-top: 2px;
    margin-left: 10px;
    width: 215px;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.journalEntryList{
    display: flex;
    flex-wrap: wrap;
}
.journalEntry {
    flex-basis: 30%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid darkslateblue;
    box-shadow: 0 20px 20px -20px #333;
}

hr {
    border:none;
    height: 50px;
    border-bottom: 1px solid darkslateblue;
    box-shadow: 0 20px 20px -20px #333;
  }


.concept {
    font-weight: bolder;
    font-size: 22px;
}

